@import "~bootstrap/scss/bootstrap";
.container {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: auto;
    justify-content: center;
    align-items: center;
    display: flex;
    width: 100%;
}

.text-center {
  text-align: center;
}

.ticket-label {
  margin-bottom: 20px;
}
.get-ticket-button {
  margin-top: 30px;
  width: 200px;
}

.input-ticket {
  width: 200px;
}

.alert-ticket {
  width: 200px;
  margin-top: 30px;
}
